<div class="mdl-grid">
  <div class="col-center">
    <h2> <%= @job.title %> - Resume List </h2>

    <hr>
    <%= render :partial => "resume", :collection => @resumes, :as => :resume %>
  </div>
</div>
